


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #c7b9d5, #c3cbda); /* Purple to blue gradient */
}
.app-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
}


.app-box {
  padding: 30px;
  width: 400px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: white;
}

/* Title styling */
.app-title {
  margin-bottom: 20px;
  color: #333;
}

/* AddItemForm Styles */
.add-item-form {
  margin-bottom: 20px;
}

.add-item-form input {
  padding: 10px;
  margin-right: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-item-form button {
  padding: 10px 15px;
  background-color: #007bff; 
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}


.item-list {
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  align-items: center;
}

.item button {
  background-color: #e74c3c; 
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.empty-message {
  color: #555;
  margin-top: 20px;
}
